<div class="row  d-flex justify-content-center animated fadeIn">
    <img width="50" height="50" src="assets/img/sparkle-blanco.png" alt="sparkle" >
    <div class="row">
     <h3 class="text-white pt-5">Registro</h3>
    </div>
  </div>
 
  <div class="row d-flex justify-content-center animated fadeIn">
    <form (ngSubmit)="SendForm()" #formEnviar="ngForm" novalidate autocomplete="off">
    <div class="form-group text-left">
      <label for="userLogin" class="secondary">*Nombre</label>
      <input type="email" class="form-control-primary line-primary" 
        name="name" placeholder="" [(ngModel)]="Data.name" minlength="4" required>
    </div>
    <div class="form-group">
      <span class="bar"></span>
      <label for="program">*Programa</label>
      <select class="form-control-select"
          name="program" [(ngModel)]="Data.program" required>
          <option value="" disabled selected>Seleccione...</option> 
          <option *ngFor="let programa of DataProgramas" [value]="programa.id" class="text-danger">{{ programa.name | titlecase }}</option>
      </select>
    </div>
    <div class="form-group text-left">
      <label for="userLogin" class="secondary">*Comentario</label>
      <input type="text" class="form-control-primary line-primary" 
        name="comment" placeholder="" [(ngModel)]="Data.comment" minlength="4" required>
    </div>
 
    <div class="col-sm-12 col-md-12 col-xl-12 d-flex justify-content-center">
      <button type="submit" class="btnCircle btn-white mb-2 align-self-center shadow-material"
          [disabled]="!formEnviar.form.valid">
          <i class="fas fa-paper-plane primary"></i> Enviar</button>
    </div>
    </form>
  </div>