<div class="row  d-flex justify-content-center animated fadeIn">
    <div class="row">
     <h3 class="text-white pt-5">ÚLTIMAS NOTICIAS</h3>
    </div>
 </div>

 <div class="row d-flex justify-content-center animated fadeIn">
   <div class="card border-primary mb-3 pt-3" style="max-width: 18rem;" *ngFor="let new of DataNews">
     <div class="card-header primary">{{new.id}} {{new.title}}</div>
     <div class="card-body text-primary">
       <p class="card-text text-secondary light">{{new.body}}</p>
     </div>
  </div>
 </div>


 <app-registro></app-registro>

