  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow">
        <a class="navbar-brand py-3 ml-3">
            <img src="assets/logo_ilumno.svg" width="200" class="d-inline-block align-top" alt="Logo Ilumno">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item ml-3">
              <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">
                <span class="primary"><i class="fas fa-home text-secondary"></i> </span> Home
              </a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link" [routerLink]="['/registro']" routerLinkActive="active">
                <span class="primary"><i class="fas fa-user-circle text-secondary"></i> </span> Registro</a>
            </li>
          
          </ul>
           <!-- Topbar Navbar -->
           <ul class="navbar-nav ml-auto">
        
              <li class="nav-item dropdown no-arrow d-sm-none">
              <div class="topbar-divider d-none d-sm-block"></div>
      
            </ul>        
        </div>
      </nav>
  <!-- Navbar -->
    
    <!-- Contenido Principal -->
    <div class="container-fluid animated fadeIn">

     <router-outlet></router-outlet>

    </div>
    <div class="pb-15"></div>
    <!-- ./Contenido Principal -->
  
  
    <!-- Footer -->
    <footer class="fixed-bottom bg-white shadow-lg py-4 d-none d-lg-block d-xl-block ">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span class="text-secondary align-middle">Copyright &copy; 
                    <strong><a href="https://www.ilumno.com" target="_blank">
                <span class="primary">Ilumno</span></a></strong> - {{year | date: 'yyyy'}}</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
