.ng-invalid.ng-touched:not(form){
    border-bottom: 2px solid red !important;
}

.btn.disabled, .btn:disabled {
    color: #d74343 !important;
    background-color: #E0DCDB !important;
    border-color: #E0DCDB;
}


.btn-primary.disabled, .btn-primary:disabled {
    color: #000000 !important;
    background-color: #E0DCDB !important;
    border-color: #E0DCDB !important;
}

.btnCircle.disabled, .btnCircle:disabled {   
    color: #616161 !important;
    background-color: #E0DCDB !important;
    border-color: #E0DCDB !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #E0DCDB), to(#E0DCDB));
    background-image: linear-gradient(180deg, #E0DCDB , #E0DCDB 50% 100%);
}
