
.fullscreen {
    height: 100vh;
    width: 100vw;
    background: rgb(121,32,117);
    background: linear-gradient(120deg,rgba(22,40,80,1) 0,rgba(121,32,117,1) 43.61%,rgba(255,22,168,1) 100%);
}

* {
    font-family: 'Intro';
    color: white;
}

.primary {
    color: rgb(121,32,117);;
}


label {
    display: inline-block;
    margin-bottom: .1rem;
    color: white;
    font-size: 12px;
}

.form-control-primary {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: white;
    vertical-align: middle;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 solid #ced4da!important;
    border-radius: 0;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: none!important;
    border-bottom: 1px solid white!important;
    padding-left: 6px;
}
.form-control-primary:focus{
	outline:0px!important;
	box-shadow: none!important;
    border: none!important;
    background-color: transparent;
    border-bottom: 1px solid blue !important;
    color: white;
}



.ng-invalid.ng-touched:not(form){
    border-bottom: 2px solid red !important;
}

.btn.disabled, .btn:disabled {
    color: #d74343 !important;
    background-color: #E0DCDB !important;
    border-color: #E0DCDB;
}


.btn-primary.disabled, .btn-primary:disabled {
    color: #000000 !important;
    background-color: #E0DCDB !important;
    border-color: #E0DCDB !important;
}

.btnCircle.disabled, .btnCircle:disabled {   
    color: #616161 !important;
    background-color: #E0DCDB !important;
    border-color: #E0DCDB !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #E0DCDB), to(#E0DCDB));
    background-image: linear-gradient(180deg, #E0DCDB , #E0DCDB 50% 100%);
}


.form-control-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    color: white !important;
    vertical-align: middle;
    background: url("assets/img/down-arrow-white.svg") right .75rem center/10px 10px no-repeat padding-box rgba(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 solid #ced4da!important;
    border-radius: 0;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: none!important;
    border-bottom: 1px solid white!important;
    padding-left: 6px;
}

.form-control-select:focus{
	outline:0px!important;
	box-shadow: none!important;
    border: none!important;
    background-color: transparent;
    border-bottom: 1px solid white!important;
    color: #343a40 !important;
}


.btn-primary {
    color: white;
    background-color: blue;
    border-color: white;
}

.btnCircle {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid transparent;
    padding: .375rem 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5;
    border-radius: 20px;
  
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pb-15 {
    padding-bottom: 150px;
}

select,
option {
  color: rgba(121,32,117,1);
}

.ligth {
    font-weight: 100;
}




